*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body
{
    display: flex;
    min-height: 100vh;
    background: #111;
}
.kotak
{
    position: relative;
    background: #ff8d23;
    height: 500px;
    width: 1950px;
}
.gambar
{
    height: 100px;
    position: absolute;
}
.objekkanan
{
    position: absolute;
    height: 500px;
    width: 100px;
    background: #bae206;
    filter: blur(4px);
}
.lingkar
{
    position: absolute;
    height: 600px;
    width: 100px;
    background: #ff8d23;
    left: 50px;
    bottom: 0px;
    border-radius: 60%;
}
.objekkiri
{
    position: relative;
    height: 500px;
    width: 100px;
    left: 1334px;
    background: #bae206;
    filter: blur(4px);
}
.lingkar2
{
    position: absolute;
    height: 600px;
    width: 100px;
    background: #ff8d23;
    right: 50px;
    bottom: 0px;
    border-radius: 60%;
}
.lingkart7
{
    position: absolute;
    height: 269px;
    width: 500px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.bdr
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ic
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.g1
{
    position: absolute;
    left: 81%;
    bottom: -6%;
}
.g2
{
    position: absolute;
    bottom: 19%;
}
.g3
{
    position: absolute;
    bottom: 12%;
    left: 0%;
}
.g4
{
    position: absolute;
    bottom: 0%;
    left: -1%;
}